@model LabDiccionarios_1251518.Models.MiAlbum[]
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mostrar Inventario</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
            text-align: center;
        }

            table th {
                background-color: #ca0000;
                color: #fff;
                font-weight: bold;
                font-size: 12pt;
                border: 1px solid #000;
            }

            table td {
                background-color: #ffe79f;
                padding: 5px;
                border: 1px solid #000;
            }

            table, table table td {
                border: 0px solid #000;
            }
    </style>
</head>
<body>
    <h2><center>Mi Album UEFA Champions League</center></h2>
    <form action="~/Home/index">
        <input type="submit" value="Volver" />
    </form>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>Id</th>
            <th>Equipo</th>
            <th>Nombre</th>
            <th>Obtenida</th>
            <th>Veces Obtenida</th>
        </tr>
        @for (int i = 0; i < Model.Length; i++)
        {
            <tr>
                <td>@Model[i].id</td>
                <td>@Model[i].equipo</td>
                <td>@Model[i].nombre</td>
                <td>@Model[i].disponible</td>
                <td>@Model[i].repetidas</td>
            </tr>
        }
    </table>
</body>
